/* Badges */          
            .ketua { background: #e74c3c; }
            .wakilketua { background: #23bbcf; }
            .sekretaris { background: #2980b9; }
            .bendahara { background: #27ae60; }
            .anggota { background: #da7272; }
            .humas { background: #caae10; }